extends layout

block header
  
  include carousel.jade

block content
          
  div.row
    div.col-lg-12
      h1.page-header Title
      
    - var headers = env.helpers.getHeaders(contents)
    each header in headers
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h4= header.title
          div.panel-body
            p
              | !{ typogr(header.html).typogrify() }
          
  div.row
    - var features = contents['features.md']
    div.col-lg-12
      h2.page-header= features.title
      
    div.col-md-6
      | !{ typogr(features.html).typogrify() }
      
    div.col-md-6
      img.img-responsive(src="#{features.metadata.image}")
      
  hr
        
  div.well
    div.row
      div.col-md-8
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
      div.col-md-4
        a.btn.btn-lg.btn-primary.btn-block(href="#") Pre-Order

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »

block script
  script.
    $('.carousel').carousel({
      interval: 5000 //changes the speed
    })


