extends layout

block prepend title
  | #{ page.title + " - "}
  
block content
  div.row
    div.col-lg-12
      h1= page.title
      
      div.row
        div.col-lg-12
          h2.page-header Main services
          
        each service in ["One", "Two", "Three", "Four"]
          div.col-md-3.col-sm-6
            div.panel.panel-default.text-center
              div.panel-heading
                img.img-responsive(src="http://placehold.it/700x500/333940/666")
              div.panel-body
                h4 Service #{service}
                p Service ...
                a.btn.btn-primary Learn More
                
      div.row
        div.col-lg-12
          h2.page-header All services
          
          - var numService = 1
          - var j = 0
          while j++ < 3
            div.col-md-4
              - var i = 0
              while i++ < 4
                div.media
                  div.pull-left
                    img(src="http://placehold.it/80x80/333940/666")
                  div.media-body
                    h4.media-heading Service #{numService++}
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
      
      div.row
        div.col-lg-12
          h2.page-header Details
          | !{ typogr(page.html).typogrify() }
